h1
{
    margin-top: 100px;
    color: hsl(345, 95%, 68%);
    text-align: center;
}
h2
{
    margin-top: 10px;
    position: relative;
    color: #9b27f3;
    text-align: center;
}
#mainnav {
    flex-direction: row;
    display: flex;
}
#seconav {
    display: flex;
    position: fixed;
    left: 80%;
}
li {
    list-style: none;
}
nav {
    background-color: initial;
    box-shadow: 2px 6px 12px grey;
    color: #9b27f3;
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
}